<header class="text-white bg-gradient-to-r from-[#164686] to-[#006dff]">
  <div class="p-6 flex justify-between">
    <div>
      <h1 class="font-bold text-3xl capitalize">vicerectoria</h1>
      <span class="text-2xl capitalize">unidad regional norte</span>
    </div>
    <div class="flex gap-8">
      <img class="w-14" src="../../../assets/logos/logo.png" alt="" />
      <img class="w-20" src=" ../../../assets/logos/logo_ciclo.svg" alt="" />
    </div>
  </div>
</header>
<div class="px-4 py-2 flex justify-end bg-gradient-to-r from-[#af8514] to-[#af8514]/70">
  <app-menu />
</div>
