<header class="w-screen text-white bg-gradient-to-r from-[#164686] to-[#006dff]">
  <div class="px-6 py-6 flex justify-between">
    <div class="flex flex-col justify-items-center justify-center">
      <h1 class="font-bold text-xl sm:text-3xl capitalize">vicerectoria</h1>
      <span class="sm:text-2xl capitalize">unidad regional norte</span>
    </div>
    <div class="flex gap-8">
      <img class="w-12 sm:w-14" src="../../../assets/logos/logo.png" alt="" />
      <img class="w-12 sm:w-16" src=" ../../../assets/logos/logo_ciclo.svg" alt="" />
    </div>
  </div>
</header>
<div class="px-4 flex justify-start bg-gradient-to-r from-[#af8514] to-[#af8514]/70">
  <app-menu />
</div>
