<div
  class="mr-auto ml-auto w-[400px] grid grid-rows-1 grid-cols-1 rounded-xl border-b-[2em] border-[#d9d9d9] overflow-clip md:grid-cols-2 md:w-3/4 lg:w-[1000px]"
>
  <div class="grid-cols-1 gap-4">
    <img
      class="object-contain rounded-t-xl"
      [src]="foto"
      alt="Imagen de noticia"
    />
    <span
      class="text-[#a6a6a6] font-bold text-lg flex gap-5 justify-items-center p-4"
      ><fa-icon [icon]="faClock"></fa-icon> {{ fecha }}</span
    >
  </div>

  <div class="px-6">
    <h2 class="py-2 capitalize font-bold text-xl md:text-2xl">{{ titulo }}</h2>
    <p class="line-clamp-3 hidden max-h-[200px] md:block lg:max-h-[300px]">
      {{ sinopsis }}
    </p>
  </div>
</div>
